## import libraries 

* step1 
* step2 
* ....

In [1]:
import pandas as pd

# load dataset

In [4]:
df = pd.read_csv('../datasets/golf.csv', delimiter='\t')

In [5]:
df

     Outlook  Temprature  Humidity   Wind Play
0      sunny        85.0      85.0  False   no
1      sunny        80.0      90.0   True   no
2   overcast        83.0      78.0  False  yes
3       rain        70.0      96.0  False  yes
4       rain        68.0      80.0  False  yes
5       rain        65.0      70.0   True   no
6   overcast        64.0      65.0   True  yes
7      sunny        72.0      95.0  False   no
8      sunny        69.0      70.0  False  yes
9       rain        75.0      80.0  False  yes
10     sunny        75.0      70.0   True  yes
11  overcast        72.0      90.0   True  yes
12  overcast        81.0      75.0  False  yes
13      rain        71.0      80.0   True   no

In [6]:
df.describe()

       Temprature   Humidity
count   14.000000  14.000000
mean    73.571429  80.285714
std      6.571667   9.840486
min     64.000000  65.000000
25%     69.250000  71.250000
50%     72.000000  80.000000
75%     78.750000  88.750000
max     85.000000  96.000000